---
layout: default
title: Blog
pagination:
  enabled: true
---

<section class="blog-list">
    <h1>All Posts</h1>

    <!-- 文章网格 -->
    <div class="grid">
        {% for post in paginator.posts %}
        <article class="card">

            <p>post url: {{ post.hero }}</p>
            <a href="{{ post.url | relative_url }}">
                <img src="{{ post.image | default: '/assets/img/default.jpg' }}" alt="{{ post.title }}">
                <h3>{{ post.title }}</h3>
                <time datetime="{{ post.date | date_to_xmlschema }}">
                    {{ post.date | date: "%Y-%m-%d" }}
                </time>
                <p>{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
            </a>
        </article>
        {% endfor %}
    </div>

    <!-- 使用分页组件 -->
    {% include pagination.html %}
</section>